{% extends 'news/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}User password has changed{% endblocktrans %}{% endblock title %}

{% block body_class %}body-auth{% endblock body_class %}

{% block content %}
<section class="utility_page_section utility_page_section--center">
    <div class="utility_panel">
        <span class="feature_chip">{% blocktrans %}Change Password{% endblocktrans %}</span>
        <h1>{% blocktrans %}User password has changed{% endblocktrans %}</h1>
        <p>{{ request.user.username }}, {% blocktrans %}The user's password has been successfully changed{% endblocktrans %}</p>
        <div class="utility_actions">
            <a href="{% url 'user_profile' %}" class="section_cta">{% blocktrans %}My Profile{% endblocktrans %}</a>
            <a href="{% url 'home_page' %}" class="section_cta section_cta_secondary">{% blocktrans %}Home{% endblocktrans %}</a>
        </div>
    </div>
</section>
{% endblock content %}
