{% extends 'news/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}Password changed successfully{% endblocktrans %}{% endblock title %}

{% block body_class %}body-auth{% endblock body_class %}

{% block content %}
<section class="utility_page_section utility_page_section--center">
    <div class="utility_panel">
        <span class="feature_chip">{% blocktrans %}Password recovery{% endblocktrans %}</span>
        <h1>{% blocktrans %}Password changed successfully.{% endblocktrans %}</h1>
        <p>{% blocktrans %}Your password has been reset you can now {% endblocktrans %}<a href="{% url 'login' %}" class="inline_link">{% blocktrans %}login{% endblocktrans %}</a> {% blocktrans %}again.{% endblocktrans %}</p>
    </div>
</section>
{% endblock content %}
