{% extends 'news/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans %}Reset user password.{% endblocktrans %}{% endblock title %}

{% block body_class %}body-auth{% endblock body_class %}

{% block content %}
<section class="auth_page_shell">
    <div class="auth-container auth-container--narrow">
        <div class="auth-header">
            <h1>{% blocktrans %}Reset Password{% endblocktrans %}</h1>
            <p>{% blocktrans %}Fill out the form below to change your password{% endblocktrans %}</p>
        </div>
        {% if validlink %}
        <p class="auth-support-copy">{% blocktrans %}Please enter the new password twice.{% endblocktrans %}</p>
        <form method="post" class="panel_form auth_form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="auth-btn">{% blocktrans %}Change Password{% endblocktrans %}</button>
        </form>
        {% else %}
        <div class="form_notice form_notice--error">
            <p>{% blocktrans %}You are using the wrong link, it may have been used before.{% endblocktrans %}</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
