{% extends 'news/base.html' %}
{% load i18n %}

{% block title %}{% trans "404 Page" %}{% endblock title %}

{% block content %}
<section id="contentSection" class="utility_page_section">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="single_post_content premium_section error_page_card">
        <div class="error_page">
          <span class="feature_chip">404</span>
          <h3>{% blocktrans %}We Are Sorry{% endblocktrans %}</h3>
          <h1>404</h1>
          <p>{% blocktrans %}Unfortunately, the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exists{% endblocktrans %}</p>
          <div class="utility_actions">
            <a href="{% url 'home_page' %}" class="section_cta">{{ ui_text.go_home }}</a>
            <a href="{% url 'all_news_list' %}" class="section_cta section_cta_secondary">{{ ui_text.browse_news }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar premium_section">
          <div class="section_heading_row compact_heading">
            <h2><span>{% blocktrans %}Popular Post{% endblocktrans %}</span></h2>
            <a class="section_cta" href="{% url 'all_news_list' %}">{{ ui_text.browse_news }}</a>
          </div>
          <ul class="spost_nav">
            {% for article in sidebar_news %}
            <li>
              <div class="media wow fadeInDown">
                <a href="{{ article.get_absolute_url }}" class="media-left"><img alt="{{ article.title }}" src="{{ article.image.url }}"></a>
                <div class="media-body"><a href="{{ article.get_absolute_url }}" class="catg_title">{{ article.title }}</a></div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>
{% endblock content %}
